.stocktake-counting {
  .area-modal {
    .modal-body {
      padding-bottom: 50px;

      .form-group {
        margin-bottom: 25px;
      }
    }
  }

  .filtering-area {
    .button-wrapper {
      height: 30px;

      .add-new-special-area-button {
        margin-bottom: 20px;
      }
    }
  }

  .editableAreaBox {
    .box-wrapper {
      display: block;

      .remove-area-button {
        margin: 2px;
      }
    }
  }

  .areaBox,
  .editableAreaBox {
    a {
      white-space: inherit !important;
    }
  }
}