.manager-note-widget {
  .manager-note-list tr td {
    padding: 10px;
  }

  .manager-note-item {
    .note-comment-count .label {
      line-height: 12px;
      padding: 0 4px;
      position: absolute;
      margin-top: -7px;
    }
  }
}