#misc
*.DS_Store
.gagarin
*.log

.idea
.dump
.mupx-deploy/ssl
.raw-data

#bash
db_remote_restore.sh
backup_dump.sh
build.sh
run-mobile.sh
create-template.sh

#packages
packages/modals
packages/anti-search-source
packages/flyouts
packages/meteor-google-prediction