<template name="textArea">
  {{#textareaAutocomplete settings=settings name="message" class="form-control message-area" placeholder=placeholder}}{{/textareaAutocomplete}}
  {{> waitButton classNames="btn btn-sm btn-primary pull-right submit-comment-button" text=buttonCaption}}
</template>

<!--
  Below templates usages:
   - text-area/text-area.js
-->
<template name="username">
  <td data-id="{{this._id}}">
    <small>
      {{#if this.profile.firstname}}
        {{this.profile.firstname}}
      {{/if}}
      {{#if this.profile.lastname}}
        {{this.profile.lastname}}
      {{/if}}
    </small>
  </td>
</template>

<template name="noMatchTemplate">
  <td>No user found</td>
</template>