<template name="mainLayout">

  <!-- Wrapper-->
  <div id="wrapper">

    {{> FlyoutManager}}

    <!-- Navigation -->
    {{#if currentUser}}
      {{> render component="navigation" }}
    {{/if}}
    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">

      <!-- Page wrapper -->
      {{> render component="topNavbar" }}

      <!-- Main view  -->
      {{> yield}}

      <!-- Footer -->
      {{> footer }}

    </div>
    <!-- End page wrapper-->
  </div>
  <!-- End wrapper-->

  {{# if currentUser}}
    <script>
      var _elev = window._elev || {};(function() {var i,e;i=document.createElement("script"),i.type='text/javascript';i.async=1,i.src="https://static.elev.io/js/v3.js",e=document.getElementsByTagName("script")[0],e.parentNode.insertBefore(i,e);})();
      _elev.account_id = '565bff7ce209b';
    </script>
  {{/if}}
</template>