.organizations-list {
  .organization-name {
    display: inline-block;
  }

  .organization-buttons-container {
    display: inline-block;
    float: right;

    i.fa {
      font-size: 20px;
    }
  }

  .locations-list {
    display: block;

    .location-list-item {
      display: block;
      cursor: pointer;
    }

    .area-list-item {
      display: block;
      border-width: 0 1px 1px 7px !important;

      .change-current-area-button.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
