@import "../../../../../../../stylesheets/theme-globals.import.less";

.shift-basic-component {
  position: relative;

  .shift-remove-wrapper {
    display: none;
  }

  &:hover {
    .shift-remove-wrapper {
      display: block;
    }
  }

  &.can-edit {
    cursor: move;
  }

  .midnight-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #DD1144;
  }

  .ghost-editable-component .ghost-editable-select {
    width: 100px;
  }
}