<div>
  <p>Hello, {{recipientName}}</p>

  <p>I want to take time off from {{startDate}} to {{endDate}}</p>

  <p>Please, approve or decline my <a type="link" href="{{leaveRequestURL}}">leave request</a>.</p>

</div>