<div>
  <b>{{publishedByName}}</b> just published the roster for the week starting <b>{{date}}</b>.
  <br><br>
  Here's your shifts:
  <ul>
    {{#each shifts}}
      <li>{{dateFormatter this}}</li>
    {{/each}}
  </ul>

  {{#if openShifts}}
    And check open shifts. You can claim them from the dashboard.
    <ul>
      {{#each openShifts}}
        <li>{{dateFormatter this}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>