<div>
  Hello, {{username}}

  <p>
    This is notification paragraph test
  </p>

  <p>
    Check list rendering
  <ul>
    {{#each persons}}
      <li>{{greeting}}</li>
    {{/each}}

  </ul>

  end of list
  </p>

  other: {{_notificationId}}
  <p>
    <a href="{{menuItemUrl}}">menu item url</a>
  </p>
</div>