<div class="unmapped-items-notification-wrapper">
  <style>
    .button-container {
      margin-top: 5px;
    }

    .claim-button {
      margin-top: 5px;
      padding: 3px 5px;
      color: #fff;
      border-radius: 4px;
    }

    .claim-button:hover {
      color: #fff;
    }

    .confirm-button {
      background-color: #1AB394;
    }
  </style>

  <p>
    We've recorded a sales in your POS system that hasn't been mapped to a Menu item in {{locationName}}.
    Here are theirs names:
  <p/>

  <ul>
    {{#each unmappedPosItemsNames}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

  <p>
    You can fix it by navigating to "POS / Menu linking" page.
  </p>

  <p class="button-container">
    <a href="{{posMenuLinkingUrl}}" class="claim-button confirm-button">Fix it</a>
  </p>
</div>