<style>
  .button-container {
    margin-top: 5px;
  }

  .claim-button {
    margin-top: 5px;
    padding: 3px 5px;
    color: #fff;
    border-radius: 4px;
  }

  .claim-button:hover {
    color: #fff;
  }

  .confirm-button {
    background-color: #1AB394;
  }
</style>

<div>
  {{text}}

  <p class="button-container">
    <a href="{{linkToItem}}" class="claim-button confirm-button" data-link-type="navigation">Go to the meeting</a>
  </p>
</div>