.profile-image {
  width: 48px;
  height: 48px;
}

.menu-item-image, .content & > p & > img {
  width: 100% !important;
  height: auto !important;
}

.ibox-content & > div & > img, .col-md-12 & > .ibox & > .ibox-content & > img, .panel-body & > div & > img, .panel-body & > p & > div & > img, .panel-body & > p & > img, .panel-body & > img, .note-editable & > div & > img, .note-editable & > img, .content & > p & > div & > img {
  max-width: 30%;
  height: auto;
}

.image {
  & > img {
    width: 100%;
    height: 315px;
  }
}

.chat-discussion {
  .chat-message:nth-child(2n) {
    .message-avatar {
      margin-left: 0 !important;
    }
    .message {
      text-align: left !important;
      margin-right: 0 !important;
    }
  }
  .chat-message {
    .message {
      text-align: left !important;
      margin-left: 55px !important;
    }
    .message-date {
      float: right !important;
    }
    .message-avatar {
      float: left !important;
      margin-right: 0 !important;
    }
  }
}

.theme-config {
  top: 97px !important;
  height: 100% !important;
}

.skin-setttings {
  width: 300px !important;
  height: 100% !important;
}

.theme-config-box {
  height: 100% !important;
  margin-right: -300px;
}

.switch.full {
  width: 100%;
  margin-top: 15px;
}

.checklist-content {
  .checklist-check {
    background-color: #fff;
    border-bottom: 1px solid #d6d6d7;
    position: relative;
    padding: 14px 30px;
  }
  .checklist-check.checked {
    background-color: #f9f9fa;
  }
  label {
    margin-bottom: 0;
    display: block;
    cursor: pointer;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .custom-checkbox {
    background: #50c7c7;
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }

  .custom-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #50c7c7;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    background: 0;
  }
  .custom-checkbox:after {
    content: "\f00c";
    display: inline-block;
    color: #fff;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .icheckbox_square-green.checked {
    background-color: #50c7c7;
  }
  .icheckbox_square-green.checked:after {
    visibility: visible;
    opacity: 1;
  }
}

.navbar-top-links {
  .dropdown-alerts {
    width: 400px;
    min-width: 0;
    margin-left: -74px;
  }
  .notifi-alerts {
    & > li {
      width: 400px;
    }
  }
}

.filter-menus {
  width: 93% !important;
  left: 15px !important;
}

.showJobProfile, .showJobProfile:hover {
  color: #fff;
}

.field {
  margin-bottom: 15px;
}

.m-l-xxxxl {
  margin-left: 110px;
}

.my-editable-link {
  top: 8px;
  position: relative;
  border-bottom: 1px dashed;
}

.open-flyout {
  cursor: pointer;
}

.remove-image {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 6px;
  cursor: pointer;
}

.logo-element {
  padding: 0 !important;
}

.nav-header {
  padding: 18px 15px 17px !important;
  font-size: 18px;
}