@marginTop: 60px;
@padding: 10px;

.flyout-container {
  z-index: 1050;
  min-width: 150px;

  .flyout {
    // root node for each opened flyout
    background: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.175);
    transition: margin-top .5s;

    &:nth-child(2) {
      margin-top: @marginTop;
    }
    &:nth-child(3) {
      margin-top: @marginTop * 2;
    }
    &:nth-child(4) {
      margin-top: @marginTop * 3;
    }
    &:nth-child(5) {
      margin-top: @marginTop * 4;
    }

    //some custom elements:
    .flyout-header {
      background: #e8e8e8;
      padding: 20px 10px;
      height: 60px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.175);
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      position: static;
      top: 0;
      left: 0;
      right: 0;
      z-index: 50;

      .organization-settings-buttons {
        margin-top: -6px;

        .btn-group {
          padding: 5px 10px;
        }
      }

    }

    .flyout-content {
      margin-top: @padding;
      padding: @padding;
      position: absolute;
      top: 50px;
      bottom: 0;
      left: 0;
      overflow: auto;
      right: 0;

      .flyout-content-extra-padding {
        padding-top: 20px;
      }
    }
  }
}

