@import "../../../stylesheets/theme-globals.import.less";

.page-heading {
  h2 {
    margin-top: 28px;
  }
}

.calendar-container {
  padding: 0;
  background-color: #fff;

  h3 {
    padding-top: 45px;
    margin-bottom: 38px;
  }

  .fc {
    .fc-resource-cell {
      cursor: pointer;
    }

    th.fc-day-header {
      cursor: pointer;
    }

    td.fc-today {
      background-color: #fff;
    }

    .fc-icon {
      &.fc-icon-right-single-arrow, &.fc-icon-left-single-arrow {
        height: 100%;

        &:after {
          font-size: 100%;
          top: 4px;
        }
      }
    }
  }
}

@media (max-width: 841px) {
  .calendar-container {
    padding: 0 0 38px 0;
  }
}

.flyout-container {
  .event-description-row {
    margin-top: 10px;

    .job-description {
      border: 1px solid #E8E8E8;
      padding: 15px 20px;
      margin-top: 5px;
    }

    .job-checklist {
      .checklist-item-done {
        text-decoration: line-through;
      }
    }
  }
  .confirm-event-wrapper {
    button {
      width: 100%;
    }
  }
}

.items-palette-body {
  max-height: 480px;
  overflow-y: auto;

  .items-palette-content {
    .draggable-item {
      display: inline-block;
      padding: 5px;
      background-color: #59D4D5;
      border: 1px solid #23C6C8;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      margin: 2px;
    }
  }
}

.agile-list {
  .draggable-item {
    padding: 10px;

    b {
      background: none;
      border: 0;
      color: #fff;
    }
  }

  .grey-zone {
    background: @light-gray;
    padding: 0 10px;
    text-align: center;

    &:hover {
      background: #e7eaec;
    }
  }
}

.user-calendar-container {
  .calendar-item-title span {
    cursor: pointer;
    text-decoration: underline;
  }

  .calendar-item-event {
    &.automatic-event {
      position: relative;
      background-color: lighten(@light-gray, 10%);

      & > a {
        position: absolute;
        top: 0;
        right: 5px;
      }
    }

    & > div {
      margin-left: 0;
      margin-right: 0;
      cursor: move;

      .calendar-item-event-title {
        cursor: pointer;
      }

      .timer-toggle {
        cursor: pointer;
      }

      @media (min-width: 1200px) {
        .timer-toggle {
          font-size: 25px;
        }
      }

      @media (max-width: 1199px) {
        .timer-toggle {
          font-size: 40px;
        }
      }
    }
  }
}