@import "../../../../stylesheets/theme-globals.import.less";

nav.navbar-static-top {
  .navbar-top-links.navbar-right {
    .open-organization-structure-button {
      margin-right: 16px;

      .area-color-icon {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
      }
    }
  }
}
