<template name="invitationAccept">
  <div class="middle-box text-center animated">
    <div class="at-pwd-form">
      <form role="form" id="at-pwd-form" novalidate="" action="#" method="POST">
        <fieldset>
          <div class="at-input form-group">
            <label class="control-label" for="at-field-username">
              Name
            </label>
            <input type="text" class="form-control" id="at-field-username" name="username" placeholder="Username" autocapitalize="none" autocorrect="off" value="{{invitation.name}}" disabled="disabled">
            <span class="help-block hide"></span>
          </div>

          <div class="at-input form-group">
            <label class="control-label" for="at-field-email">
              Email
            </label>
            <input type="email" class="form-control" id="at-field-email" name="email" placeholder="Email" autocapitalize="none" autocorrect="off" value="{{invitation.email}}" disabled="disabled">
            <span class="help-block hide"></span>
          </div>

          <div class="at-input form-group">
            <label class="control-label" for="at-field-address">
              Address (Optional)
            </label>
            <input type="text" class="form-control" id="at-field-address" name="address" placeholder="Address" autocapitalize="none" autocorrect="off">

            <span class="help-block hide"></span>
          </div>

          <div class="at-input form-group">
            <label class="control-label" for="at-field-tel">
              Phone number (Optional)
            </label>
            <input type="tel" class="form-control" id="at-field-tel" name="tel" placeholder="Tel" autocapitalize="none" autocorrect="off">

            <span class="help-block hide"></span>
          </div>

          <div class="at-input field">
            <label>Gender</label>
            <select class="form-control" id="at-field-gender" name="gender">

              <option value="male">Male</option>

              <option value="female">Female</option>

            </select>
          </div>

          <div class="at-input form-group">
            <label class="control-label" for="at-field-pinCode">
              PIN code
            </label>
            <input type="password" class="form-control" id="at-field-pinCode" name="pinCode" placeholder="****" autocapitalize="none" autocorrect="off">

            <span class="help-block hide"></span>
          </div>

          <div class="at-input form-group">
            <label class="control-label" for="at-field-password">
              Password
            </label>
            <input type="password" class="form-control" id="at-field-password" name="password" placeholder="Password" autocapitalize="none" autocorrect="off">

            <span class="help-block hide"></span>
          </div>

          <button type="submit" class="at-btn submit btn btn-lg btn-block btn-default" id="at-btn">
            Register
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</template>