<template name="dashboard">
  <div class="wrapper wrapper-content">
    {{#if isUserInAnyOrganization}}
      {{#if getCurrentArea}}
        <div class="row">
          <div class="col-md-7 col-xs-12 pull-left">
            {{> clock}}
          </div>
          <div class="col-md-5 col-xs-12 pull-right">
            {{> shiftsSummary}}
          </div>
          <div class="col-md-7 col-xs-12 pull-left margin-top-20">
            {{> newsFeed}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="ibox float-e-margins"></div>
          </div>
        </div>
      {{else}}
        <div class="col-lg-12">
          <hr>
          <div class="jumbotron">
            <h1>Welcome to Hospo Hero.</h1>

            <p>
              Thanks for coming. Please, choose your area{{#if isCurrentOrganizationOwner}} or create a new one{{/if}} in the
              top menu first
            </p>

            <p>
              To choose the area, click on the <i class="fa fa-sitemap"></i> icon and then click on area's name
            </p>
            {{#if isCurrentOrganizationOwner}}
              <p>
                To create new area or location, click on the <i class="fa fa-sitemap"></i> icon and then click on <i
                  class="fa fa-plus"></i> icon
              </p>
            {{/if}}

            <p>
              You can change your password and PIN code on your profile page.
            </p>

            <p>
              <a class="btn btn-primary btn-lg"
                 href="{{pathFor route="profile" _id=currentUser._id}}"
                 role="button">
                Visit your profile
              </a>
            </p>
          </div>
        </div>
      {{/if}}
    {{else}}
      <div class="col-lg-12">
        <hr/>
        <div class="jumbotron">
          <h1>Welcome to Hospo Hero.</h1>

          <p>
            Thanks for coming. Kitchen's are complicated workplaces. Hospo Hero aims to make
            running a busy kitchen easy. Taking a lot of the manual tasks and making them quick, easy and
            accurate.
          </p>

          <p>
            We'll be developing this software over the coming months to help with things like ordering, knowing
            how much to prep, rostering and much more.
          </p>

          <p>All ideas are welcome! -Tom</p>
        </div>
      </div>
    {{/if}}
  </div>
</template>