<template name="comboTimeEditable">
  <div class="time-editable-wrapper">
    {{#if isEditMode}}
      <div class="time-range-selector">
        <div class="first-time">
          {{> comboTimeElement value=params.firstTime minuteStepping=minuteStepping considerLocationTime=params.considerLocationTime}}
        </div>
        {{#if isTimeRangeMode}}
          <p class="separator">-</p>

          <div class="second-time">
            {{> comboTimeElement value=params.secondTime minuteStepping=minuteStepping considerLocationTime=params.considerLocationTime}}
          </div>
        {{/if}}
        <div class="control-group submit-cancel-buttons-wrapper">
          <button type="button" class="change-time-button btn btn-primary"><i class="fa fa-check"></i></button>
          <button type="button" class="cancel-button btn btn-default"><i class="fa fa-remove"></i></button>
        </div>
      </div>
    {{else}}
      {{#unless params.withoutIcon}}
        <i class="fa {{icon}}"></i>
      {{/unless}}

      <a href="#" class="time">
        {{firstTime}}
        {{#if isTimeRangeMode}}
          - {{secondTime}}
        {{/if}}
      </a>
    {{/if}}
  </div>
</template>