@import "../theme-globals.import.less";

.btn.btn-full-width {
  width: 100%;
}

.btn.btn-half-width {
  width: 50%;
}

.submit-textarea {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}