@import "../theme-globals.import.less";

.prediction-header {
  .datepicker {
    min-width: 250px;
  }
}

.prediction-component {
  .panel {
    border: 1px solid @border-color;
    background: white;
    color: @text-color;
  }

  .prediction-panel {
    .panel;
    table {
      margin-bottom: 0;
    }
  }

  .load-more-button-wrapper {
    text-align: center;
    margin: 10px 0;
  }
}



