@import '../theme-globals.import.less';

.ghost-editable-component {
  display: inline-block;

  .ghost-editable-input {
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);

    &:not(:focus) {
      border-bottom: dashed 1px #0088cc;
    }

    &:focus {
      outline: 1px solid @navy;
    }
  }

  .ghost-editable-select-trigger {
    border-bottom: 1px dashed #0088cc;
  }

  .ghost-editable-select {
    border: 1px solid #1ab394;
    background-color: #fff;
    border-radius: 0;
  }

  .submit-value-button {
    color: @navy;
  }

  .hide-button {
    display: none;
  }
}