#side-menu-nav-wrapper {
  position: fixed;
  bottom: 0;
  overflow-y: auto;
  top: 0;


  .slider {
    height: 0;
    overflow: hidden;
    transition: height 300ms;
  }

  .nav-first-level-item.active {
    .slider {
      height: auto;
    }
  }

  .slide-down {
    transition: height 300ms;
  }

  .nav-first-level-item:hover {
    .slider.slider-for-1-menu-item {
      height: 42px; // Height of one menu item(32px) + 10px margin
      .slide-down;
    }
    .slider.slider-for-2-menu-item {
      height: 74px;
      .slide-down;
    }
    .slider.slider-for-3-menu-item {
      height: 106px;
      .slide-down;
    }
    .slider.slider-for-4-menu-item {
      height: 138px;
      .slide-down;
    }
    .slider.slider-for-5-menu-item {
      height: 170px;
      .slide-down;
    }
  }
}