@import "../theme-globals.import.less";

//settings link functionality
.revel-menu-link-component {
  margin-top: 15px;
  font-size: 16px;

  .revel-link-menu-item-component {
    &:hover {
      background-color: @hover-gray-color;
    }
  }
}