<template name="userUnavailabilityMainView">
  <div class="wrapper wrapper-content animated">
    <div class="row">
      {{#if isUnavailablesList}}
        {{> render component="userUnavailability"}}
      {{/if}}
      {{#if isAddNewUnavailable}}
        {{> render component="addNewUnavailability"}}
      {{/if}}
      {{#if isAddNewLeaveRequest}}
        {{> render component="addNewLeaveRequest"}}
      {{/if}}
      {{#if isViewLeaveRequest}}
        {{> render component="viewLeaveRequest"}}
      {{/if}}
    </div>
  </div>
</template>