.float-with-padding {
  float: left;
  padding-right: 10px;
}

.task-list-container {
  h2 {
    margin: 0 0 10px 0;
  }

  .task-item {
    margin-bottom: 10px;

    .task-title.done {
      text-decoration: line-through;
    }

    h3 {
      display: inline-block;
    }
  }
}

.create-new-task-container {
  position: absolute;
  top: -15px;
  left: 0;
  background-color: #fff;
  z-index: 30;
  border-bottom: 1px solid #CBD5DD;
  padding: 20px;

  form {
    .form-group {
      margin-top: -1px;

      textarea {
        resize: none;
      }

      .user-selector-container {
        margin-bottom: 10px;
      }
    }

    .datepicker {
      .datepicker-date {
        border: 0;
        padding: 2px;
        width: 105px;
        cursor: default;
        background: transparent;
      }
    }
  }
}

.task-list-filter {
  margin: 0 10px 10px 0;
  display: inline-block;

  .dropdown-toggle.btn-primary:focus {
    border: 0;
    background-color: #18A689;
  }

  .dropdown-menu {
    .task-filter-switcher.active {
      a {
        background-color: #18A689;
      }
    }
  }
}

.task-switcher-container {
  display: inline-block;
  vertical-align: middle;
}