<template name="listOfIngredients">
  <div class="list-of-ingredients-wrapper thumbnail">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Supplier's Code</th>
        <th>Description</th>
        <th>Unit used</th>
        <th>Unit Price</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody>
      {{#each ingredients}}
        {{> ingredientItemEdit item=this onChange=onChangeItemInList}}
      {{/each}}
      </tbody>
    </table>
    <button id="showIngredientsList" class="btn btn-block btn-outline btn-primary" type="button">
      <i class="fa fa-plus"></i>
      Add ingredients
    </button>
  </div>
</template>