@import "../../../stylesheets/theme-globals.import.less";

.prediction-component {
  .panel {
    border: 1px solid @border-color;
    background: white;
    color: @text-color;
  }

  .prediction-panel {
    .panel;
    table {
      margin-bottom: 0;

      .prediction-cell {
        .ghost-editable-input {
          width: 35px;
        }

        .manual-prediction-icon {
          color: #F2D600;
        }
      }
    }
  }

  .load-more-button-wrapper {
    text-align: center;
    margin: 10px 0;
  }
}

.wi {
  font-size: 40px;
  color: #924da3;
}

.weather-icon-wrapper {
  margin: 5px;
}

.sales-prediction-content {
  .weather-source-wrapper {
    text-align: right;
    font-size: 12px;
    padding-top: 5px;
  }

  #loadMoreBtn {
    margin-top: 10px;
  }

  .prediction-table-head {
    text-align: center;
  }
}
