<template name="salesForecastMainView">
  <!-- Page heading -->
  {{> pageHeading title="Forecast" headingTemplate="salesPredictionHeader"}}

  <div class="wrapper wrapper-content animated sales-prediction-content">
    <div class="row">
      {{> FilterByCategory}}
      {{> menuItemsSearch searchSource=getSearchSource}}
    </div>
    <div class="prediction-component">
      <div class="prediction-panel">
        <div class="sales-per-menu-item-section table-scrollable">
          <table class="table table-striped table-condensed white-bg">
            <thead>
            <tr>
              <th></th>
              {{#each week}}
                <th colspan="3" class="prediction-table-head">
                  {{getDayOfWeek this}}
                  <h5>{{formatDate this}}</h5>
                </th>
              {{/each}}
            </tr>
            <tr>
              <!--Weather-->
              <td></td>
              {{#each week}}
                {{> weatherForecast dailyWeatherForecast}}
              {{/each}}
            </tr>
            <tr>
              <th></th>
              {{#each week}}
                <th>Forecast</th>
                <th>Actual</th>
                <th>Fault,%</th>
              {{/each}}
            </tr>
            </thead>
            <tbody>
            {{> totalSalesRow weekDate=date}}

            {{#each menuItems}}
              {{> predictionSalesRow currentWeekDate=../date week=week menuItem=this}}
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="load-more-button-wrapper">
        <button id="loadMoreBtn" class="btn btn-white center-block" type="button">Load more</button>
      </div>
    </div>
  </div>
</template>