<template name="weekSelector">
  <div class="modal fade week-selector" tabindex="-1" role="dialog" aria-labelledby="weekSelector"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-modal-button"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span></button>
          <h4 class="modal-title">Select Week</h4>
        </div>

        <div class="modal-body">
          {{#each futureWeeks}}
            <div class="i-checks checklist-content extra-top-margin">
              <label>
                <input type="radio" value="{{this}}" name="week-radio"> Week {{weekFormat this}},
                starting {{dateFormat this}}
              </label>
            </div>
          {{/each}}
        </div>

        <div class="modal-footer">
          {{> waitButton type="button" classNames="btn btn-primary saveShifts" text="Save shifts to selected week"}}
          <button type="button" class="btn btn-default close-modal-button">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>