@import "../../../../../../../stylesheets/theme-globals.import.less";

.add-user-popup {
  clear: both;
  position: relative;

  hr {
    margin: 5px 0;
  }

  .no-results {
    padding: 10px 0;
  }

  .invitation-from-control {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}