<template name="ingredientEditor">
  {{#wrapperFlyout}}
    {{> ingredientEditorForm ingredient=ingredient editMode=editMode}}
  
    {{#if ingredient._id}}
      <div class="panel panel-default m-t-md">
        <div class="panel-heading">
          Comments
        </div>
        <div class="panel-body">
          {{> commentsPanel id=ingredient._id type="ingredient"}}
        </div>
      </div>

      {{> taskWidget itemId=ingredient._id type="ingredients"}}

      <div class="related-items-widget">
        {{> relatedItemsWidget referenceId=ingredient._id type="ingredient"}}
      </div>
    {{/if}}
  {{/wrapperFlyout}}
</template>